@charset "utf-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(https://images.unsplash.com/photo-1530210124550-912dc1381cb8?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: 100%;
    background-size: cover;
    background-repeat: repeat;
    color: rgb(151, 180, 151);
    width: 100%;
}
header{
    padding: 2em;
    backdrop-filter: blur(15px);
}
.headerdisposition{
    display: flex;
    justify-content: space-between;
}

button{
    width: 5vw;
    height: 4vh;
    margin: 0.7em;
    border: none;
    border-radius: 0px 10px;
}

a{
    text-decoration: none;
    color: #000;
}
form{
    background: transparent;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30em;
    margin-right: 30em;
    flex-direction: column;
    margin-top: 5em;
    border-radius: 10px;
    border: 1px solid #ffffff49;
}
#saude{
    background: #ffffff;
    color: #000;
}

input{
    border-radius: 0px 10px;
    border: none;
    padding: 1em;
}

p{
    text-align: center;
    margin: 2em;
}
